
<div ng-class="CSN.mapClass">
    <pk-maps id="pk-map" ol-draw-type="'{{CMP.drawType}}'" ol-center="indonesia" ol-defaults="defaults"></pk-maps>
    <div class="pk-mouse_position">
        <p ng-bind="CMP.mouseposition"></p>
    </div>
</div>

<div ng-class="CSN.sidenavClass">
    <div class="span3 scrollDiv container">
        <a href="" style="width: 100%" ng-click="CSN.hideSideNav()"><i class="fa fa-times fa-2x" style="float: right"></i></a>
        <div class="pk-sidenav_content" ng-switch="CSN.sideNavContent">
            <div ng-switch-when="draw" >
                <ng-include ng-controller="SideDrawCtrl as CSD" src="'views/sidenav/draw.html'"></ng-include>
            </div>
            <div ng-switch-when="browse" >
                <ng-include ng-controller="SideBrowseCtrl as CSB" src="'views/sidenav/browse.html'"></ng-include>
            </div>
        </div>
    </div>
</div>