<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/openlayers3/build/ol.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
      <base href="/">
  </head>
  <body ng-app="pkfrontendApp" ng-controller="SidenavCtrl as CSN">

    <div class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Peta Kami</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ng-class="CSN.isNavActive('draw')">
                    <a href="/" ng-click="CSN.toggleSideNav('draw')">Draw Features</a>
                </li>
                <li ng-class="CSN.isNavActive('browse')">
                    <a href="/" ng-click="CSN.toggleSideNav('browse')">Browse Features</a>
                </li>
                <li ng-class="CSN.isNavActive('upload')">
                    <a href="#/upload" ng-click="CSN.toggleSideNav('upload')">Upload Feature</a>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right btn-group">
              <button type="submit" class="btn btn-default">Login</button>
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div id="pk-wrapper">
      <div id="pk-content" ui-view>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/openlayers3/build/ol.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/map/directives/_pkMaps.js"></script>
        <script src="scripts/map/directives/olCenter.js"></script>
        <script src="scripts/map/directives/olLayer.js"></script>
        <script src="scripts/map/directives/olPath.js"></script>
        <script src="scripts/map/directives/olView.js"></script>
        <script src="scripts/map/directives/olControl.js"></script>
        <script src="scripts/map/directives/olMarker.js"></script>

        <script src="scripts/map/services/olData.js"></script>
        <script src="scripts/map/services/olMapDefaults.js"></script>
        <script src="scripts/map/services/olHelpers.js"></script>
        <script src="scripts/api/services/svcSecurity.js"></script>
        <script src="scripts/api/services/svcWorkspace.js"></script>
        <script src="scripts/api/services/svcLayer.js"></script>
        <script src="scripts/api/services/svcSharedProperties.js"></script>

        <script src="scripts/navigation/controllers/SidenavCtrl.js"></script>
        <script src="scripts/navigation/controllers/UploadCtrl.js"></script>
        <script src="scripts/navigation/controllers/SideDrawCtrl.js"></script>
        <script src="scripts/navigation/controllers/SideBrowseCtrl.js"></script>
        <script src="scripts/map/controllers/MapCtrl.js"></script>
        <script src="scripts/map/controllers/ViewLayerCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>
