<div class="bs-callout bs-callout-info">
    <h4>Browse Feature</h4>
    cari feature yang tersedia
</div>

<div class="form-group">
    <label for="selectWorkspace">Pilih Workspace: </label>
    <select id="selectWorkspace" ng-model="CSB.selectedWorkspace"
            ng-options="workspace as workspace for workspace in CSB.setWorkspaces"
            ng-change="CSB.changeWorkspace(CSB.selectedWorkspace)"
            style="width: 100%">
    </select>
</div>

<div ng-show="CSB.selectedWorkspace">
    <div class="list-group panel" ng-repeat="layerGroup in CSB.layerGroups">
        <a href="" class="list-group-item" style="text-transform: capitalize;"
           ng-click="CSB.viewLayer(CSB.selectedWorkspace, layerGroup.name)">
            {{layerGroup.name}}<span class="pull-right">{{layerGroup.type}}</span>
        </a>
    </div>

    <div ng-show="CSB.displayLayer" class="form-group">
        <label for="selectedLayer">Layer Group:</label>
        <input type="text" id="selectedLayer" placeholder="{{CSB.layerGroupName}}" disabled>
    </div>

    <div ng-show="CSB.displayLayer">
        <label for="selectedLayer">Tampilkan Layer:</label>
        <div ng-repeat="layer in CSB.layers">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="CSB.selectedLayer[layer.type]" ng-change="CSB.layerSelectChange()">{{layer.name}}</label>
            </div>
        </div>
    </div>
</div>