<div class="pk-content_heading">
    <div class="pk-heading_inner">
        <h1 style="font-size: 22px">Upload</h1>
    </div>
</div>
<div class="pk-content_body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label for="inputLayerName">Layer Group Name: </label>
                <input type="text" ng-model="CU.layerGroupName" id="inputLayerName" placeholder="Tuliskan Nama Layer Group" style="width: 100%">
            </div>
            <div class="form-group">
                <label for="selectWorkspace">Pilih Workspace: </label>
                <select id="selectWorkspace" ng-model="CU.selectedWorkspace"
                        ng-options="workspace as workspace for workspace in CU.workspaces"
                        style="width: 100%" ng-change="CU.changeWorkspace(CU.selectedWorkspace)">
                </select>
            </div>
            <div class="form-group" uib-collapse="CU.isCollapsed">
                <label for="uploadLayer">Upload Layer: </label>
                <div class="row" id="uploadLayer">
                    <div class="col-sm-6 col-md-4" ng-if="CU.showPoint">
                        <div class="thumbnail">
                            <div ngf-select="CU.uploadLayerGroup($file, 'point')"
                                 ngf-drop="CU.uploadLayerGroup($file, 'point')" class="drop-box" ng-class="CU.isPointSelected"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                Drop Zip(SHP) / CSV / JSON</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div class="caption" style="text-align: center">
                                <h5>Point</h5>
                                <p>File yang diizinkan untuk di upload: ZIP, CSV, JSON</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4" ng-if="CU.showLineString">
                        <div class="thumbnail">
                            <div ngf-select="CU.uploadLayerGroup($file, 'linestring')"
                                 ngf-drop="CU.uploadLayerGroup($file, 'linestring')" class="drop-box" ng-class="CU.isLineSelected"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                Drop Zip(SHP) / CSV / JSON</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div class="caption" style="text-align: center">
                                <h5>Line String</h5>
                                <p>File yang diizinkan untuk di upload: ZIP, CSV, JSON</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4" ng-if="CU.showPolygon">
                        <div class="thumbnail">
                            <div ngf-select="CU.uploadLayerGroup($file, 'polygon')"
                                 ngf-drop="CU.uploadLayerGroup($file, 'polygon')" class="drop-box" ng-class="CU.isPolySelected"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                Drop Zip(SHP) / CSV / JSON</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div class="caption" style="text-align: center">
                                <h5>Polygon</h5>
                                <p>File yang diizinkan untuk di upload: ZIP, CSV, JSON</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" ng-click="CU.uploadToGeoServer()" style="width: 100%;">Upload</button>
            </div>
        </div>
    </div>
</div>